.burger div {
  width: 2rem;
  height: 4px;
  background-color: white;
  margin: 5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.burger:hover{
  cursor: pointer;
}

.burger {
  margin-left: auto;
}

.line1 {
  transform: rotate(-225deg) translate(6px, -6px);
}
.line2 {
  opacity: 0;
}
.line3 {
  transform: rotate(225deg) translate(6px, 6px);
}

@media screen and (min-width: 600px) {
  .burger {
    display: none;
  }
}