.dropdown {
  width: 100%;
  list-style: none;
  text-align: center;
  background-color: rgb(14, 37, 37);
  height: 8rem;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
  align-items: center;
  position:absolute;
  z-index: 0;
  border-bottom: solid 1px white;
}

.open {
  transform: translate(0, 0);
}

.closed {
  transform: translate(0, -7.90rem);
}

.dropdown li {
  list-style: none;
  color: white;
  margin-bottom: 8px;
}
