.dropdown-menu {
  width: 300px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background-color: brown;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: cadetblue;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 1rem;
}
