.header {
  width: 100%;
}

.navbar {
  height: 4rem;
  background-color: rgb(6, 31, 31);
  color: white;
}

.navbar-item-list {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.navbar-item-list li {
  margin: 0 0.5rem;
}
