.navbar {
  background-color: rgb(14, 37, 37);
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 999;
}

.navbar a {
  color: white;
  text-decoration: none;
}
