.dropdown {
  width: 100%;
  list-style: none;
  text-align: center;
  background-color: rgb(14, 37, 37);
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
  align-items: center;
  position: static;
  z-index: 0;
  height: 8rem;
}

.open {
  transform: translate(0, 0);
}

.closed {
  transform: translate(0, -8rem);
  height: 0;
}

.dropdown li {
  list-style: none;
  color: white;
  margin-bottom: 8px;
}

.dropdown a:hover {
  cursor: pointer;
  color: rgb(141, 137, 180);
}

@media screen and (min-width: 600px) {
  .dropdown {
    transform: translate(0, -8rem);
    height: 0;
  }
}
