.gameCard {
  height: 6rem;
  margin-bottom: 1rem;
  flex:1;
  display: flex;
  border-radius: 5px;
  padding: 0.5rem;
  color: black;
  border: 1px  solid rgb(199, 199, 199);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin:1rem;
}

.info {
  margin-left: 1rem;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover {
  width: 5rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
