.gameCard {
  height: 6rem;
  background-color: blueviolet;
  margin-bottom: 1rem;
  width: 300px;
  display: flex;
  border-radius: 5px;
  padding: 0.5rem;
}

.info {
  margin-left: 1rem;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover {
  width: 5rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
